.hero__area {
    background: #f3fafc;
}

.hero__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__left__text {
    width: 600px;
}

.hero__left__text h3 {
    color: #222;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero__left__text h2 {
    color: #111;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero__right__img > img {
    width: 600px;
}

.hero__left__text > button {
    display: inline-block;
    border: none;
    outline: none;
    background: #21a7d0;
    color: #fff;
    height: 50px;
    width: 160px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.hero__left__text > button:hover {
    background: #1e95ba;
    color: #fff;
}

.package__area {
    background: #fff;
    padding: 80px 0;
}

.package__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.packages {
    text-align: center;
    background: #f3fafc;
    padding: 30px 10px;
}

.package__title h4 {
    color: #111;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

.package__desc p {
    font-size: 15px;
    font-weight: 400;
    color: #505050;
    margin-bottom: 15px;
}

.package__button button {
    display: inline-block;
    border: none;
    outline: none;
    background: none;
    color: #222;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.intro__area {
    padding: 0 0 40px 0;
}

.intro__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro__left__img img {
    width: 500px;
}

.intro__right__desc h2 {
    color: #111;
    font-size: 32px;
    margin-bottom: 10px;
}


.intro__right__desc h3 {
    color: #54647b;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.intro__right__desc p {
    width: 600px;
    color: #505050;
    font-size: 15px;
    line-height: 27px;
    text-align: justify;
}

.intro__right__desc > button {
    display: inline-block;
    border: none;
    outline: none;
    background: #21a7d0;
    color: #fff;
    height: 50px;
    width: 160px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.intro__right__desc > button:hover {
    background: #1e95ba;
    color: #fff;
}

.services__area {
    padding: 80px 0;
}

.services__title {
    text-align: center;
    margin-bottom: 50px;
}

.services__title h2 {
    color: #111;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}

.services__title h3 {
    color: #485973;
    font-size: 20px;
    font-weight: 500;
}

.services__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}