.hero__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__left__text {
    width: 600px;
}

.hero__left__text h3 {
    color: #222;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero__left__text h2 {
    color: #111;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero__right__img > img {
    width: 600px;
}

.hero__left__text > button {
    display: inline-block;
    border: none;
    outline: none;
    background: #21a7d0;
    color: #fff;
    height: 50px;
    width: 160px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.hero__left__text > button:hover {
    background: #1e95ba;
    color: #fff;
}