.notFound__content {
    text-align: center;
    padding: 100px 0;
}

.notFound__content h2 {
    font-size: 150px;
    color: #21a7d0;
}

.notFound__content p {
    font-size: 30px;
    color: #111;
}